body {
	background: rgb(200,200,255);
}

form input[type=text], form input[type=number]{
	margin-bottom: 15px;
	line-height: 20px;
	width: 550px;
	padding-left: 5px;
	line-height: 20px;
	border-radius: 10px;
}

.selection {
	margin-bottom: 15px;
	line-height: 30px;
	width: 80px;
	border-radius: 10px;
	padding: 10px 0px 10px 5px;
}

.block {
	display: inline-block;
	position: relative;
	min-width: 100px;
	margin-bottom: 20px;
}

.abs_block {
	position: relative;
	display: block;
	width: 100px;
}

form input[type=submit] {
	position: relative;
	display: block;
	border-radius: 10px;
	padding: 3px;
	height: 40px;
	width: 565px;
	margin: 5px 0px 20px 5px;
}

h3 {
	font-size: 12px;
	font-family: Georgia;
	margin-left: 5px
}

div.box {
	background: rgb(230,230,255);
	min-height: 500px;
	width: 580px;
	margin: auto;
	border: 1px solid navy;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	height: auto;
	position: relative;
}

ul.thesis-list li {
	padding-top: 8px;
	border-top: 1px solid rgba(0,0,0,0.4);
	min-height: 40px;
	margin-left: -40px;
	padding-left: 20px;
	list-style-type: none;
	padding-bottom: 10px;
}

a.mybtn {
	position: relative;
	display: block;
	float: right;
	background: rgb(220,220,220);
	font-family: 'Times New Roman';
	border-radius: 5px;
	padding: 4px;
	z-index: 99;
	margin-top: 5px;
	border:1px solid rgb(20,20,200);
	margin-left: 20px;
}

.tarea {
	width: 550px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	border-radius: 10px;

}

form#form2 select {
	position: relative;
}

.list_label {
	margin-left: 20px;
}

.welcome {
	position:absolute; 
	top:0; 
	right:0; 
	color:navy; 
	font-size:15px; 
}

div.login {
	position: fixed;
	height: 100%;
	width: 50%;
}

div.left {left: 0;}
div.right {right: 0;}

a h1 {
	font-family: 'Cooper Black';
	font-size: 40px;
	margin-top: 50%;
	margin-left: 20%;
}