<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
    
    <title>Thesis List</title>

    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
    <link type="text/css" rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css" media="screen" >

    <link rel="shortcut icon" href="assets/images/gt_favicon.png">
    
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Fixed navbar -->
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
                    <p class="welcome">Hi! Welcome {{user.nickname()}} </p><br>
        <p align="right" class="welcome" style="top:30px"><a href="{{ url|safe }}">{{ url_linktext }}</a></p>
            <div class="navbar-collapse collapse">
            <div><a href="/"><button class="primary-btn btn">Home</button></a></div>
                    <div><a href="/thesis/list/all"><button class="primary-btn btn">Show List</button></a></div>
             <p align= "right" td class= "text-right"><input type="search" id="searcher" placeholder="SEARCH"></td>
              <p align= "right" td class= "text-right"><button class="primary-btn btn" id="search_btn"><i class="fa fa-search"></i></td></button>
              <p align= "right" div id='rel_th_container' class='list-inline'>
            </ul>
        </div>
            </div><!--/.nav-collapse -->
        </div>
    </div> 
</div>
    <!-- /.navbar -->
        <h1><small><strong>Thesis Filters:</strong></small></h1>
        <div class="form-group filt">
            <select id="filter_year" class="form-control">
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>  
                <option value="2015">2015</option>
                <option selected disabled value="">Year</option>
            </select>
        </div>
        <div class="form-group filt">
            <select id="filter_adviser" class="form-control">
                <option selected disabled value="">Adviser</option>
                {% for f in faculty%}
                <option value="{{f.f_first_name}} {{f.f_last_name}}">{{f.f_first_name}} {{f.f_last_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group filt">
            <select id="filter_university" class="form-control">
                <option selected disabled value="">University</option>
                {% for u in universities%}
                <option value="{{u.u_name}}">{{u}}</option>
                {% endfor %}
            </select>
        </div>

        <button class="danger-btn btn" id="list_thesis">Show List</button>

        <h3 class="list_label">Year | Thesis title            | Adviser  |  Author</h3>
        <ul class="thesis_list">
        </ul>
        <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
        <script type="text/javascript" src="/static/js/myjs.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>


</body>
</html>