<!DOCTYPE HTML>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" rel="stylesheet">
  <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
</head>
<body>
    <div class="box">
        <form id="registration">
            <h2>Registration Page<h2><a href="{{logout_url}}">LOGOUT</a><hr>
            <h3>First Name</h3>
            <input type="text" name="first_name" placeholder="first name"  required></input>
            <h3>Last Name</h3>
            <input type="text" name="last_name" placeholder="last name" required></input>
            <h3>Contact Number</h3>
            <input type="number" name="phone_num" placeholder="phone number" required></input>
            <input type="submit" class="btn" value="Register">
        </form><br><br><br>
    </div>
    
    <script type="text/javascript" src="/static/js/myjs.js"></script>

</body>
</html>